button {
    border: 10px solid;
    background-color: blue;
    color: wheat;
}

#hahayes {
    word-wrap: break-word;
}

#bar1 {
    width: 100px;
    height: 11px;
    background-color: black;
}

#bar2 {
    width: 1px;
    height: 10px;
    background-color: greenyellow;
}
#deth{
    background-color: red;
}